<% if user_signed_in? %>
<%= form_for Post.new, :html => { :class => "mt-5" }  do |f| %>
  <div class="form-group">
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.text_field :user_id, value: current_user.id , class:'d-none'%>
  </div>
  <br>
  <div class="text-center">
    <%= f.submit 'Create Post', class: 'btn btn-primary' %>
  </div>
<% end %>
  <% end %>

<div class="posts">
  <% @posts.each do |post| %>
    <section class="post" >
      <!-- post view -->
      <div class="user" >
        <div class="avatar">
          <% if post.user.avatar.attached? %>
            <%= link_to user_path(post.user) do %>
              <%= image_tag post.user.avatar %>
            <% end %>
          <% end %>
        </div>
        <div class="username">
          <%= link_to post.user.username, user_path(post.user), class: 'username' %>
        </div>
      </div>
    <%= image_tag post.image, class: 'main-image' %>
    <div class="description">
      <% post.description.to_s.split(' ').each do |word| %>
        <% if word.start_with?('#') %>
          <%= link_to word, search_path(query: word) %>
        <%else %>
          <%= word %>
        <%end %>
      <% end %>
    </div>
      <div class="delete">
        <% if user_signed_in?  && current_user.posts.exists?(post.id) %>
          <%= link_to "Delete", post_path(post), method: :delete, data: { confirm: 'Are you sure?' }  %>
        <% end %>
      </div>
      </section>
  <% end %>
  <div class="text-center">
    <%= paginate @posts %>
  </div>
</div>